version: "3"
services:
  vcache_mgmt:
    image: node-red
    build:
      context: context/node-red
    container_name: vcache_mgmt
    hostname: ${VCACHE_HOSTNAME}
    volumes:
      - "./node-red-data:/data"
      - "./run:/var/run"
      - "./vcache-version.txt:/data/vcache-version.txt"
    networks:
      - vcache_net
    # close this for production
    ports:
      - "1880:1880"
    pid: shareable
    restart: always
    depends_on:
      - vcache_redis

  # mgmt-agent:
  #   image: "saltstack/salt"
  #   volumes:
  #     - "./run:/var/run"
  #     - "./log/salt:/var/log/salt"
  #     - "./etc/salt:/etc/salt"
  
  vcache_frontend:
    image: nginx-perl
    build:
      context: context/nginx
    container_name: vcache_frontend
    hostname: ${VCACHE_HOSTNAME}
    environment:
      - VCACHE_HOSTNAME=${VCACHE_HOSTNAME}
    volumes:
      - "./run:/var/run"
      - "./log/nginx:/var/log/nginx"
      - "./etc/nginx/nginx-fe.conf:/etc/nginx/nginx.conf:ro"
      - "./etc/nginx/.htpasswd:/etc/nginx/.htpasswd"
      - "./etc/nginx/pki:/etc/nginx/pki:ro"
      - "./etc/nginx/sites-enabled/frontend.cfg:/etc/nginx/sites-enabled/frontend.cfg"
      - "./etc/nginx/modules-enabled/80-mod-http-perl.conf:/etc/nginx/modules-enabled/80-mod-http-perl.conf"
      - "./etc/nginx/modules-enabled/50-mod-http-subs-filter.conf:/etc/nginx/modules-enabled/50-mod-http-subs-filter.conf"
      - "./perl:/var/lib/nginx/perl"
    networks:
      - vcache_net
    ports:
      - "443:443"
      - "8443:8443"
    pid: "service:vcache_mgmt"
    ulimits:
       memlock: -1
       nofile:
         soft: 262144
         hard: 262144
    restart: always
    depends_on:
      - vcache_engine
      - vcache_mgmt

  vcache_engine:
    image: varnish
    build:
      context: context/varnish
    container_name: vcache_engine
    volumes:
      - "./etc/varnish:/etc/varnish"
      - "./run:/var/run"
      - "varnish_tmpfs:/var/lib/varnish"
    networks:
      - vcache_net
    pid: "service:vcache_mgmt"
    ulimits:
       memlock: -1
       nofile:
         soft: 262144
         hard: 262144
    environment:
      - VARNISH_SIZE=${VCACHE_MEM_SIZE}
    command:
      - "-a /var/run/varnish.sock,HTTP,user=varnish,group=varnish,mode=666"
    restart: always
    depends_on:
      - vcache_backend

  vcache_backend:
    image: nginx-perl
    build:
      context: context/nginx
    container_name: vcache_backend
    volumes:
      - "./run:/var/run"
      - "./log/nginx:/var/log/nginx"
      - "./etc/nginx/nginx-be.conf:/etc/nginx/nginx.conf:ro"
      - "./etc/nginx/sites-enabled/backend.cfg:/etc/nginx/sites-enabled/backend.cfg"
      - "./etc/nginx/modules-enabled/80-mod-http-perl.conf:/etc/nginx/modules-enabled/80-mod-http-perl.conf"
      - "./perl:/var/lib/nginx/perl"
    environment:
      - VCACHE_HOSTNAME=${VCACHE_HOSTNAME}
    networks:
      - vcache_net
    pid: "service:vcache_mgmt"
    restart: always

  vcache_stats:
    image: varnish
    build:
      context: context/varnish
    container_name: vcache_stats
    volumes:
      - ./etc/varnishstats:/etc/varnish
      - varnish_tmpfs:/var/lib/varnish:ro
    environment:
      VSM_NOPID: 1
    command: "start-varnishstats-exporter"
    networks:
      - vcache_net
    restart: always
    depends_on:
      - vcache_engine
      - vcache_redis

  vcache_redis:
    image: redis:latest
    container_name: vcache_redis
    volumes:
      - "redis_data:/data"
    networks:
      - vcache_net
    # close this for production
    ports:
      - "6379:6379"
    restart: always

volumes:
  redis_data:
  varnish_tmpfs:
    driver_opts:
      type: tmpfs
      device: tmpfs

networks:
  vcache_net:
    name: vcache_net
    driver: bridge
    enable_ipv6: false
