
services:
  vcache_mgr_agent:
    image: node-red
    build:
      context: ./context
      dockerfile: ./node-red/Dockerfile
    container_name: vcache_mgr_agent
    hostname: ${VCACHE_HOSTNAME}
    volumes:
      - ./context/node-red/mgmt-data:/data # comment out for production
      - var_run:/var/run
      - var_log_fe:/var/log-fe
      - var_log_be:/var/log-be
      - etc_salt:/etc/salt
      - etc_vcache:/etc/vcache
      - etc_frontend:/etc/nginx-fe
      - etc_varnish:/etc/varnish
      - etc_backend:/etc/nginx-be
    networks:
      - vcache_net
    environment:
      - VCACHE_VERSION=${VCACHE_VERSION}
      - VCACHE_HOSTNAME=${VCACHE_HOSTNAME}
      - SALT_MASTER=${VCACHE_MGR_ADDR}
    ports:
      - 1881:1880 # comment out for production
    pid: shareable
    restart: always
    depends_on:
      - vcache_redis

  vcache_frontend:
    image: nginx-perl-frontend
    build:
      context: ./context
      dockerfile: ./nginx/Dockerfile.frontend
    container_name: vcache_frontend
    hostname: ${VCACHE_HOSTNAME}
    volumes:
      - var_run:/var/run
      - var_log_fe:/var/log/nginx
      - etc_frontend:/etc/nginx
    networks:
      - vcache_net
    ports:
      - 443:443
      - 8443:8443
    pid: service:vcache_mgr_agent
    ulimits:
       memlock: -1
       nofile:
         soft: 262144
         hard: 262144
    restart: always
    depends_on:
      - vcache_engine
      - vcache_mgr_agent
      
  vcache_engine:
    image: vcache-varnish
    build:
      context: ./context/varnish
    container_name: vcache_engine
    volumes:
      - var_run:/var/run
      - etc_varnish:/etc/varnish
      - varnish_tmpfs:/var/lib/varnish:exec
    networks:
      - vcache_net
    pid: service:vcache_mgr_agent
    ulimits:
       memlock: -1
       nofile:
         soft: 262144
         hard: 262144
    environment:
      - VARNISH_SIZE=${VCACHE_MEM_SIZE}
    command:
      - "-a /var/run/varnish.sock,HTTP,user=varnish,group=varnish,mode=666"
    restart: always
    depends_on:
      - vcache_backend

  vcache_backend:
    image: nginx-perl-backend
    build:
      context: ./context
      dockerfile: ./nginx/Dockerfile.backend
    container_name: vcache_backend
    hostname: ${VCACHE_HOSTNAME}
    volumes:
      - var_run:/var/run
      - var_log_be:/var/log/nginx
      - etc_backend:/etc/nginx
    networks:
      - vcache_net
    pid: service:vcache_mgr_agent
    restart: always

  vcache_stats:
    image: varnish
    build:
      context: ./context/varnish
    container_name: vcache_stats
    volumes:
      - var_run:/var/run
      - varnish_tmpfs:/var/lib/varnish:ro
    environment:
      VSM_NOPID: 1
    command: start-varnishstats-exporter
    networks:
      - vcache_net
    restart: always
    depends_on:
      - vcache_engine
      - vcache_redis

  vcache_redis:
    image: redis:latest
    container_name: vcache_redis
    volumes:
      - redis_data:/data
    networks:
      - vcache_net
    # close this for production
    ports:
      - 6380:6379
    restart: always

volumes:
  etc_vcache:
    name: vcache_etc_vcache
  etc_salt:
    name: vcache_etc_salt
  etc_frontend:
    name: vcache_etc_frontend
  var_log_fe:
    name: vcache_var_log_fe
  etc_backend:
    name: vcache_backend_etc
  var_log_be:
    name: vcache_var_log_be
  var_run:
    name: vcache_var_run
  redis_data:
    name: vcache_redis_data
  etc_varnish:
    name: vcache_etc_varnish
  varnish_tmpfs:
    name: vcache_varnish_tmpfs
    driver_opts:
      type: tmpfs
      device: tmpfs

networks:
  vcache_net:
    name: vcache_net
    driver: bridge
    enable_ipv6: false
