version: "3"
services:
  mgmt:
    build:
      context: node-red
    container_name: mgmt
    hostname: ${CACHE_HOSTNAME}
    environment:
      - CACHE_VERSION=${CACHE_VERSION}
    volumes:
      - "./node-red-data:/data"
      - "./run:/var/run"
    networks:
      - main
    # close this for production
    ports:
      - "1880:1880"
    pid: shareable
    restart: always
    depends_on:
      - redis
  
  frontend:
    image: nginx-perl
    build:
      context: nginx
    container_name: frontend
    hostname: ${CACHE_HOSTNAME}
    volumes:
      - "./run:/var/run"
      - "./log/nginx:/var/log/nginx"
      - "./etc/nginx/nginx-fe.conf:/etc/nginx/nginx.conf:ro"
      - "./etc/nginx/.htpasswd:/etc/nginx/.htpasswd"
      - "./etc/nginx/pki:/etc/nginx/pki:ro"
      - "./etc/nginx/sites-enabled/frontend.cfg:/etc/nginx/sites-enabled/frontend.cfg"
      - "./etc/nginx/modules-enabled/80-mod-http-perl.conf:/etc/nginx/modules-enabled/80-mod-http-perl.conf"
      - "./perl:/var/lib/nginx/perl"
    networks:
      - main
    ports:
      - "443:443"
      - "8443:8443"
    pid: "service:mgmt"
    ulimits:
       memlock: -1
       nofile:
         soft: 262144
         hard: 262144
    restart: always
    depends_on:
      - cache
      - mgmt

  cache:
    image: varnish
    build:
      context: varnish
    container_name: cache
    volumes:
      - "./etc/varnish:/etc/varnish"
      - "./run:/var/run"
      - "varnish_tmpfs:/var/lib/varnish"
    networks:
      - main
    pid: "service:mgmt"
    ulimits:
       memlock: -1
       nofile:
         soft: 262144
         hard: 262144
    environment:
      - VARNISH_SIZE=12G
    command:
      - "-a /var/run/varnish.sock,HTTP,user=varnish,group=varnish,mode=666"
    restart: always
    depends_on:
      - backend

  backend:
    image: nginx-perl
    build:
      context: nginx
    container_name: backend
    volumes:
      - "./run:/var/run"
      - "./log/nginx:/var/log/nginx"
      - "./etc/nginx/nginx-be.conf:/etc/nginx/nginx.conf:ro"
      - "./etc/nginx/sites-enabled/backend.cfg:/etc/nginx/sites-enabled/backend.cfg"
      - "./etc/nginx/modules-enabled/80-mod-http-perl.conf:/etc/nginx/modules-enabled/80-mod-http-perl.conf"
      - "./perl:/var/lib/nginx/perl"
    networks:
      - main
    pid: "service:mgmt"
    restart: always

  stats:
    build:
      context: varnish
    container_name: stats
    volumes:
      - ./etc/varnishstats:/etc/varnish
      - varnish_tmpfs:/var/lib/varnish:ro
    environment:
      VSM_NOPID: 1
    command: "start-varnishstats-exporter"
    networks:
      - main
    restart: always
    depends_on:
      - cache
      - redis

  redis:
    image: redis:latest
    container_name: redis
    volumes:
      - "redis_data:/data"
    networks:
      - main
    # close this for production
    ports:
      - "6379:6379"
    restart: always

volumes:
  redis_data:
  varnish_tmpfs:
    driver_opts:
      type: tmpfs
      device: tmpfs

networks:
  main:
    driver: bridge
    enable_ipv6: false
