master: ${VCACHE_MGR_ADDR}
grains:
  roles:
    - vcache

# Connection settings
tcp_timeout: 10                  # TCP timeout
tcp_authentication_retries: 3
ipv6: False                      # Disable IPv6 if not needed
retry_dns: 20                    # DNS lookup retry
pub_ret: 30                      # Return job timeout

# Authentication settings
master_tries: 3
auth_timeout: 10
auth_tries: 3
auth_safemode: False            # Don't wait for auth on startup

# Retry settings
acceptance_wait_time: 2
acceptance_wait_time_max: 10
rejected_retry: True
random_startup_delay: 2

# Reconnection settings
recon_default: 500
recon_max: 5000
recon_randomize: False

# Other settings
process_count_max: 256
redis.host: 'vcache_redis'
redis.port: 6379
redis.db: 0
redis.password: None

log_level_logfile: debug
