
# cfg proxy-cache cache-rule's
{{
   my $index = 0;
   if (exists $proxy_cache{cache_rule}) {
      $OUT .= "if (bereq.http.Host == \"$proxy_cache{hostname}\") {\n";  
      foreach my $rule (@{ $proxy_cache{cache_rule} }) {
         $index++;
         if (exists $rule->{url}) {
            $OUT .= "  if (proxy_url_${index}.match(bereq.url)) { set beresp.ttl = $rule->{ttl}; return(deliver); }\n";
         }
	     if (exists $rule->{content_type}) {
            $OUT .= "  if (proxy_ct_${index}.match(bereq.url)) { set beresp.ttl = $rule->{ttl}; return(deliver); }\n";
         }
      }
      $OUT .= "}\n";
   }
}}

# cfg vhost-cache cache-rule's
{{
   my $host = "a";
   foreach my $h  (@vhost_cache) {
      next unless exists $h->{cache_rule};
      my $index = 0;
      $OUT .= "if (bereq.http.Host == \"$h->{hostname}\") {\n";  
      foreach my $rule (@{ $h->{cache_rule} }) {
	     $index++;
         if (exists $rule->{url}) {
            $OUT .= "  if (host_url_${host}${index}.match(bereq.url)) { set beresp.ttl = $rule->{ttl}; return(deliver); }\n";
         }
	     if (exists $rule->{content_type}) {
            $OUT .= "  if (host_ct_${host}${index}.match(bereq.url)) { set beresp.ttl = $rule->{ttl}; return(deliver); }\n";
         }
      }
      $OUT .= "}\n";
	  $host++;
   }
}}

# cfg global cache-rule's
{{
   my $index = 0;
   foreach my $rule (@cache_rule) {
      $index++;
      if (exists $rule->{url}) {
         $OUT .= "if (url_${index}.match(bereq.url)) { set beresp.ttl = $rule->{ttl}; return(deliver); }\n";
      }
	  if (exists $rule->{content_type}) {
         $OUT .= "if (ct_${index}.match(bereq.url)) { set beresp.ttl = $rule->{ttl}; return(deliver); }\n";
      }
   }
}}

